USE [LoyolaDataDevel]
GO
/****** Object:  StoredProcedure [mat].[ResetFuturosEstudiantesAdmisiones]    Script Date: 16/06/2025 8:39:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		AAPEREZ
-- Create date: 04/04/2025
-- Description:	Resetea alumnos candidatos de admisiones
-- =============================================
ALTER PROCEDURE [mat].[ResetFuturosEstudiantesAdmisiones]
	 @candidatoId int,
    @procesoAdmisionId int,
	@titulaciones_adm_cursoId int
AS

BEGIN

	
declare @alumnoid int


declare @cursoAcad as varchar(7)

set @alumnoid = (select alumnoID from alumno where candidatoID = @candidatoId)

set @cursoAcad = (select PROCESO_ADMISION.id_curso from adm.PROCESO_ADMISION where id_proceso = @procesoAdmisionId)

declare @liqID int 
declare @expeID int 
declare @idproceso int 
declare @idInscripcion int 


select @alumnoid= alumnofk,
@liqID=liquidacionFK,
@expeID=expeFK,
@idproceso = i.id_proceso
,@cursoAcad = p.cursoID
,@idInscripcion = i.id_inscripcion_alumno
from mat.PMAT_ALUMNO_INSCRIPCION i
join mat.PROCESO_MATRICULA p on p.id_proceso = i.id_proceso
where alumnoFK =@alumnoid and cursoID = @cursoAcad


declare @expeID2 int 
set @expeID2 = (select expe2fk from acad.expediente_doble where expe1FK = @expeID)


delete from eco.loyola_tpv_recepcion_infopago where liquidacionFK = @liqID
delete from eco.liquidacion_pagotpv where liquidacionFK = @liqID
delete from acad.calificacion_reconocida where calificacionFK in (
	select calificacionID from acad.calificacion where expeFK in (@expeID, @expeID2) and cursoFK = @cursoAcad)
delete from acad.calificacion_auditoria where calificacionFK in (
	select calificacionID from acad.calificacion where expeFK in (@expeID, @expeID2) and cursoFK = @cursoAcad)
delete from acad.reconocimiento_traslado_asignatura where calificacionFK in (
	select calificacionID from acad.calificacion where expeFK in (@expeID, @expeID2) and cursoFK = @cursoAcad)
delete from acad.reconocimiento_traslado where calificacionFK in (
	select calificacionID from acad.calificacion where expeFK in (@expeID, @expeID2) and cursoFK = @cursoAcad)
delete from acad.calificacion where expeFK in (@expeID, @expeID2) and cursoFK = @cursoAcad
delete from acad.info_matricula where expeFK in (@expeID, @expeID2) and cursoacad = @cursoAcad
delete from eco.movimientos_contables_origen where liquidacionIdFK = @liqID
delete from eco.movimientos_contables_origen where matriculaasignaturaFK in (
	select id_matricula_asignatura from mat.PMAT_ALUMNO_INSCRIPCION_ASIGNATURA where id_inscripcion_alumno = @idInscripcion)
delete from mat.BONIFICACION_INSCRIPCION_ASIGNATURA where matricula_asignaturaFK in (
	select id_matricula_asignatura from mat.PMAT_ALUMNO_INSCRIPCION_ASIGNATURA where id_inscripcion_alumno = @idInscripcion)
delete from mat.PMAT_ALUMNO_DOCUMENTO where id_inscripcion_alumno = @idInscripcion
delete from mat.PMAT_ALUMNO_INSCRIPCION_ASIGNATURA where id_inscripcion_alumno = @idInscripcion
--delete from mat.PMAT_ALUMNO_INSCRIPCION where id_inscripcion_alumno = @idInscripcion
update mat.PMAT_ALUMNO_INSCRIPCION set estado = 1, liquidacionFK = null where id_inscripcion_alumno = @idInscripcion
delete from eco.liquidacion_cargo where liquidacionFK = @liqID
delete from eco.liquidacion where liquidacionID = @liqID
delete from mat.PMAT_ALUMNO_INSCRIPCION where id_inscripcion_alumno = @idInscripcion

update mat.PROCESO_MATRICULA set estado = 3, fecha_fin_matriculacion = getdate()+100 where id_proceso =  @idproceso 
update adm.CANDIDATO set correo_electronico = cast(@candidatoId as varchar) + '@a.com', clave = '86f7e437faa5a7fce15d1ddcb9eaeaea377667b8' where id_candidato = @candidatoId


update adm.PADM_TITULACION_LISTA_ADMITIDOS set matriculado = 0 where id_candidato = @candidatoId and id_proceso = @procesoAdmisionId and id_titulacion_curso = @titulaciones_adm_cursoId

--update adm.PADM_TITULACION_LISTA_ADMITIDOS set matriculado = 0where id_candidato = @candidatoId and estado = 'A'


END

