USE [LoyolaDataDevel]
GO
/****** Object:  StoredProcedure [mat].[ResetFuturosEstudiantesTFe]    Script Date: 16/06/2025 8:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		AAPEREZ
-- Create date: 05/05/2025
-- Description:	Resetea alumnos con solo TF
-- =============================================
CREATE PROCEDURE [mat].[ResetFuturosEstudiantesTFe]
	 @alumnoId int,
	 @idins int,
    @cursoAcad as varchar(7),
	@tipoTitulacion as char
AS

BEGIN

declare @liqID int 
declare @expeID int 
declare @idproceso int 
declare @idInscripcion int 
declare @idCandidato int
declare @idAsignatura int
declare @idMatriculaAs int
declare @nContForm int

select @alumnoid= alumnofk,
@liqID=liquidacionFK,
@expeID=expeFK,
@idproceso = i.id_proceso
,@cursoAcad = p.cursoID
,@idInscripcion = i.id_inscripcion_alumno,
@idAsignatura = ia.id_asignatura,
@idMatriculaAs = ia.id_matricula_asignatura,
@nContForm = ia.num_contrato_formacion
from mat.PMAT_ALUMNO_INSCRIPCION i
join mat.PMAT_ALUMNO_INSCRIPCION_ASIGNATURA ia on i.id_inscripcion_alumno = ia.id_inscripcion_alumno
join acad.asignatura a on a.asignaturaID = ia.id_asignatura
join acad.asignatura_cualidad_tipotitulacion act on a.tipoFK = act.id
join mat.PMAT_ALUMNO_INSCRIPCION_ASIGNATURA_EVENTO ev on ev.eventoID = ia.eventoFK 
join mat.PROCESO_MATRICULA p on p.id_proceso = i.id_proceso
where alumnoFK = @alumnoid and cursoID = @cursoAcad and ia.id_inscripcion_alumno = @idins and act.cualidadFK = @tipoTitulacion


set @idCandidato=(select candidatoID from alumno where alumnoID = @alumnoid)




declare @expeID2 int 
set @expeID2 = (select expe2fk from acad.expediente_doble where expe1FK = @expeID)
	delete from acad.calificacion_auditoria where calificacionFK in (select calificacionID from acad.calificacion where expeFK in (@expeID, @expeID2) and asignaturaFK = @idAsignatura)
	delete from acad.calificacion where expeFK in (@expeID, @expeID2) and asignaturaFK = @idAsignatura
	delete from eco.movimientos_contables_origen where matriculaasignaturaFK = @idMatriculaAs
	delete from acad.info_matricula where expeFK in (@expeID, @expeID2) and asignaturaFK = @idAsignatura
	delete from mat.BONIFICACION_INSCRIPCION_ASIGNATURA where matricula_asignaturaFK = @idMatriculaAs
	delete from mat.PMAT_ALUMNO_INSCRIPCION_ASIGNATURA where id_matricula_asignatura = @idMatriculaAs
	update mat.PMAT_ALUMNO_INSCRIPCION set num_contrato_formacion = (@nContForm-1) where id_inscripcion_alumno = @idInscripcion


END

